@{
    var userrol = Context.Session.GetInt32("Rol");
    var username = Context.Session.GetString("Username");
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <title>@ViewData["Title"]</title>
    <link rel="icon" type="image/png" sizes="16x16" href="~/images/logoR360Circular_1500x1500.png">
    <link href="~/vendor/jqvmap/css/jqvmap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/vendor/chartist/css/chartist.min.css">
    <link href="~/vendor/bootstrap-select/dist/css/bootstrap-select.min.css" rel="stylesheet">
    <link href="~/css/style.css" rel="stylesheet">
    <link href="https://cdn.lineicons.com/2.0/LineIcons.css" rel="stylesheet">
    <link href="~/css/CustomCSS/footer.css" rel="stylesheet">

    <style>
        /* menú arriba */
        .header {
            background-color: #f2f2f2;
        }
    </style>

    <style>
        /* menú izquierda */
        .deznav {
            background-color: #f2f2f2;
        }
    </style>

    <style>
        /* texto principal */
        [data-sidebar-style="full"][data-layout="vertical"] .deznav .metismenu > li > a {
            color: #5a5a5a;
        }
    </style>

    <style>
        /* texto dentro menú */
        .deznav .metismenu a {
            color: #585858;
        }
    </style>

    <style>
        /* iconos */
        [data-sidebar-style="full"][data-layout="vertical"] .deznav .metismenu > li > a i {
            color: #000000;
        }
    </style>

    <style>
        /* menú izquierda */
        .nav-header a {
            background-color: #f2f2f2;
        }
    </style>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const hamburger = document.querySelector('.hamburger');
            const body = document.querySelector('body');

            hamburger.addEventListener('click', function () {
                body.classList.toggle('menu-closed');
            });
        });
    </script>

</head>

<body>
    <script src="~/vendor/global/global.min.js"></script>

    <div id="preloader">
        <div class="sk-three-bounce">
            <div class="sk-child sk-bounce1"></div>
            <div class="sk-child sk-bounce2"></div>
            <div class="sk-child sk-bounce3"></div>
        </div>
    </div>

    <div id="main-wrapper">
        <div class="nav-header">
            <a href="../Home/Index" class="brand-logo">
                <img class="logo-abbr" src="~/images/logoR360Circular_256x256.png" alt="">
                <img class="logo-compact" src="~/images/textoR360.png" alt="">
                <img class="brand-title" src="~/images/textoR360.png" alt="">
            </a>

            <div class="nav-control">
                <div class="hamburger">
                    <span class="line"></span><span class="line"></span><span class="line"></span>
                </div>
            </div>
        </div>

        <div class="header">
            <div class="header-content">
                <nav class="navbar navbar-expand">
                    <div class="collapse navbar-collapse justify-content-between">
                        <div class="header-left">
                        </div>

                        <ul class="navbar-nav header-right">
                            @await Component.InvokeAsync("Notification")

                            <li class="nav-item dropdown header-profile">
                                <a class="nav-link" href="#" role="button" data-toggle="dropdown">
                                    <div class="header-info">
                                        <span>Hola, <strong>@username</strong></span>
                                    </div>
                                    <img src="~/images/cocinero.png" width="20" alt="" />
                                </a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    @if (userrol == 1)
                                    {
                                        <a asp-route-statusId="true" asp-controller="Admin" asp-action="UserAdmin" class="dropdown-item ai-icon">
                                            <svg id="icon-user1" xmlns="http://www.w3.org/2000/svg" class="text-primary" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7" r="4"></circle></svg>
                                            <span class="ml-2">Administrar</span>
                                        </a>
                                    }

                                    <a asp-area="" asp-controller="Home" asp-action="LogOff" class="dropdown-item ai-icon">
                                        <svg id="icon-logout" xmlns="http://www.w3.org/2000/svg" class="text-danger" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4"></path><polyline points="16 17 21 12 16 7"></polyline><line x1="21" y1="12" x2="9" y2="12"></line></svg>
                                        <span class="ml-2">Cerrar Sesión </span>
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>

        <div class="deznav">
            <div class="deznav-scroll">
                <ul class="metismenu" id="menu">
                    <li>
                        <a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">
                            <i class="flaticon-381-networking"></i>
                            <span class="nav-text">Panel Principal</span>
                        </a>
                        <ul aria-expanded="false">
                            <li><a asp-controller="Home" asp-action="Index">Panel Principal</a></li>
                        </ul>
                    </li>
                    <li>
                        <!--Gestión de Ventas y Pedidos-->
                        <a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">
                            <i class="flaticon-381-television"></i>
                            <span class="nav-text">Ventas y Pedidos</span>
                        </a>
                        <ul aria-expanded="false">
                            <li>
                                <!--Modulo de Pedidos-->
                                <a class="has-arrow" href="javascript:void()" aria-expanded="false">Modulo de pedidos</a>
                                <ul aria-expanded="false">
                                    <!--Aqui van los modulos-->
                                    <li><a asp-controller="VentasPedidos" asp-action="DetalleMenu">Detalle de productos</a></li>
                                    <li><a asp-controller="VentasPedidos" asp-action="Pedidos">Órdenes</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>

                    <!-- Sección de Gráficos -->
                    @if (userrol == 1)
                    {
                        <li>
                            <a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">
                                <i class="flaticon-381-controls-3"></i>
                                <span class="nav-text">Reportes y Graficos</span>
                            </a>
                            <ul aria-expanded="false">
                                <li>
                                    <a class="has-arrow" href="javascript:void()" aria-expanded="false">Reportes</a>
                                    <ul aria-expanded="false">
                                        <li><a asp-controller="ReportesGraficos" asp-action="Logs">Registro de actividad</a></li>
                                    </ul>
                                </li>
                                <li><a asp-controller="ReportesGraficos" asp-action="GraficosInventario">Gráficos de Inventario</a></li>
                                <li><a asp-controller="ReportesGraficos" asp-action="GraficosProductos">Gráficos de Productos</a></li>
                            </ul>
                        </li>

                        <!-- Sección de Inventario -->
                        <li>
                            <a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">
                                <i class="flaticon-381-network"></i>
                                <span class="nav-text">Inventario</span>
                            </a>
                            <ul aria-expanded="false">
                                <li><a asp-controller="Inventario" asp-action="ConsultaInventario">Inventario</a></li>
                                <li><a asp-controller="Productos" asp-action="ProductList">Productos</a></li>
                                <li><a asp-controller="Inventario" asp-action="SupplieProductList">Insumos por producto</a></li>
                            </ul>
                        </li>

                        <!-- Sección de Administración -->
                        <li>
                            <a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">
                                <i class="flaticon-381-settings-7"></i>
                                <span class="nav-text">Administración</span>
                            </a>
                            <ul aria-expanded="false">
                                <li><a asp-controller="Productos" asp-action="SuppliesList">Insumos</a></li>
                                <li><a asp-controller="Clientes" asp-action="ClientList">Clientes</a></li>
                            </ul>
                        </li>
                        <!-- Sección de Acerca De -->
                        <li>
                            <a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">
                                <i class="flaticon-381-help"></i>
                                <span class="nav-text">Acerca De</span>
                            </a>
                            <ul aria-expanded="false">
                                <li><a asp-controller="AcercaDe" asp-action="Index">Acerca De</a></li>
                            </ul>
                        </li>
                    }
                </ul>
            </div>
        </div>
        @RenderBody()
    </div>

    <footer>
        <div class="footer-content">
            <div class="info-section">
                <h3>Información</h3>
                <ul class="info-list">
                    <li>Dirección: Mora, San José</li>
                    <li>Teléfono: (+506)8545-6526</li>
                    <li>Email: vicente.castror@icloud.com</li>
                </ul>
            </div>
        </div>
    </footer>

    <script src="~/vendor/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
    <script src="~/vendor/chart.js/Chart.bundle.min.js"></script>
    <script src="~/js/custom.min.js"></script>
    <script src="~/js/deznav-init.js"></script>

    <script src="~/vendor/waypoints/jquery.waypoints.min.js"></script>
    <script src="~/vendor/jquery.counterup/jquery.counterup.min.js"></script>
    <script src="~/vendor/peity/jquery.peity.min.js"></script>

    <script src="~/js/dashboard/dashboard-1.js"></script>


</body>
</html>

<style>
    * {
        outline: none;
        margin: 0;
        padding: 0;
    }

    html,
    body {
        height: 100%;
    }

    .wrap {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background: linear-gradient(135deg, #8254EA 0%, #E86DEC 100%);
    }

    .btnprueba {
        width: 270px; /* Duplicamos el valor original (140px * 2) */
        height: 80px; /* Duplicamos el valor original (45px * 2) */
        font-family: 'Roboto', sans-serif;
        font-size: 13px;
        text-transform: uppercase;
        letter-spacing: 2.5px;
        font-weight: 500;
        color: #000;
        background-color: #fff;
        border: none;
        border-radius: 45px;
        box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
        transition: all 0.3s ease 0s;
        cursor: pointer;
    }

        .btnprueba:hover {
            background-color: #ff5722;
            box-shadow: 0px 15px 20px rgba(119, 29, 0, 0.73);
            color: #fff;
            transform: translateY(-7px);
        }

</style>
