@{
    ViewData["Title"] = "Acerca De";
    Layout = "~/Views/Shared/_Layout_General.cshtml";
}

<div class="content-body">
    <div class="container-fluid">
        <h3>Acerca De</h3>

        <section>
            <h4>Historia del Restaurante</h4>
            <p>Creado para brindar una experiencia gastronómica única y de calidad.</p>
        </section>

        <section>
            <h4>Misión y Visión</h4>
            <p>Ofrecer calidad y frescura, consolidándonos como un referente gastronómico.</p>
        </section>

        <section>
            <h4>Información de Contacto</h4>
            <p>Teléfono: +506 8545-6526</p>
            <p>Dirección: Mora, San José</p>
            <p>Email: vicente.castror@icloud.com</p>
            <p>Redes Sociales: [Aquí agrega enlaces o íconos de redes sociales]</p>
        </section>

        <section>
            <h4>Soporte Técnico</h4>
            <p><a href="URL_MANUAL">Manual de Usuario</a></p>
            <p><a href="URL_TUTORIAL">Tutoriales del Sistema</a></p>
        </section>
    </div>
</div>
