@{
    ViewData["Title"] = "Acerca De";
    Layout = "~/Views/Shared/_Layout_General.cshtml";
}

<div class="content-body">
    <div class="container-fluid d-flex justify-content-between align-items-start">
        <div class="content-info">
            <h3><i class="fa fa-info-circle"></i> Acerca De</h3>

            <section>
                <h4>Historia del Restaurante</h4>
                <p>
                    En 2024, Kristel Monge, apasionada por la cocina italiana, decidió hacer realidad su sueño de fundar un restaurante auténtico. Con dedicación y apoyo financiero, comenzó "La Dulce Vida" en el corazón de la ciudad, creando un espacio donde los sabores y el encanto de Italia cobran vida.

                    Próximamente, "La Dulce Vida" abrirá sus puertas, ofreciendo pizzas artesanales, pastas frescas y una selecta variedad de vinos italianos en un ambiente acogedor. Kristel y su equipo están comprometidos en brindar una experiencia culinaria única, preservando las tradiciones italianas y ofreciendo un servicio que convierte cada visita en un recuerdo memorable.
                </p>
            </section>

            <section>
                <h4>Misión</h4>
                <p>Convertirse en el restaurante italiano de referencia en la ciudad, reconocido por la calidad de sus platos, la autenticidad de sus recetas y el excelente servicio al cliente.</p>
            </section>

            <section>
                <h4>Visión</h4>
                <p>Proporcionar una experiencia culinaria genuina al ofrecer pizzas artesanales, pastas frescas y una exquisita selección de vinos italianos, en un entorno cálido y familiar que haga que cada visita sea memorable y auténticamente italiana.</p>
            </section>

            <section>
                <h4>Información de Contacto</h4>
                <p>Teléfono: +506 8422 1919</p>
                <p>Dirección: El Alto de Guadalupe</p>
                <p>Email: <a href="mailto:dulcevida@hotmail.com">dulcevida@hotmail.com</a></p>
                <p>Redes Sociales:</p>
                <p>
                    <a href="https://facebook.com" target="_blank" class="social-link"><i class="fa fa-facebook"></i> Facebook</a> |
                    <a href="https://instagram.com" target="_blank" class="social-link"><i class="fa fa-instagram"></i> Instagram</a> |
                    <a href="https://twitter.com" target="_blank" class="social-link"><i class="fa fa-twitter"></i> Twitter</a>
                </p>
            </section>

            <section>
                <h4>Soporte Técnico</h4>
                <p><a href="URL_MANUAL"><i class="fa fa-book"></i> Manual de Usuario</a></p>
                <p><a href="URL_TUTORIAL"><i class="fa fa-video"></i> Tutoriales del Sistema</a></p>
            </section>
        </div>

        <div class="icon-container">
            <img src="~/images/logoR360Circular_256x256.png" alt="Logo Ristorante360" class="logo-img">
        </div>
    </div>
</div>

