@{
    ViewData["Title"] = "Lista de Productos";
    Layout = "~/Views/Shared/_Layout_General.cshtml";
}


<!--**********************************
    Content body start
***********************************-->
<div class="content-body">
    <div class="container-fluid">
        <div class="row page-titles mx-0">
            <div class="col-sm-6 p-md-0">
                <div class="welcome-text">
                    <h4>Hola, Bienvenido de nuevo</h4>
                    <p class="mb-0">Your business dashboard template</p>
                </div>
            </div>
            <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="javascript:void(0)">Modulo de pedidos</a></li>
                    <li class="breadcrumb-item active"><a href="javascript:void(0)">Lista de productos</a></li>
                </ol>
            </div>
        </div>

        <!--Producto Lista-->
        <div class="row">

            <!--Pizza Pulled Pork-->
            <div class="col-lg-12 col-xl-6">
                <div class="card">
                    <div class="card-body">
                        <div class="row m-b-30">

                            <!--Imagen de Producto-->
                            <div class="col-md-5 col-xxl-12">
                                <div class="new-arrival-product mb-4 mb-xxl-4 mb-md-0">
                                    <div class="new-arrivals-img-contnent">
                                        <img class="img-fluid" src="~/images/product/1.jpg" alt="">
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-7 col-xxl-12">
                                <div class="new-arrival-content position-relative">

                                    <!--Nombre Producto-->
                                    <h4>Pizza Pulled Pork</h4>

                                    <!--Precio Producto-->
                                    <p class="price">₡6.000</p>

                                    <!--Disponibilidad e Informacion de Producto-->
                                    <p>
                                        Disponible: <span class="item">
                                            En existencia <i class="fa fa-check-circle text-success"></i>
                                        </span>
                                    </p>
                                    <p>Codigo de Producto: <span class="item">1</span> </p>

                                    <!--Descripcion de producto-->
                                    <p class="text-content">Pizza El Chante de Pulled Pork: Salsa de tomate, queso mozzarella, pulled pork, jalapeños, cebolla y tomate.</p>
                                    
                                    <!--Rating por estrellas-->
                                    <div class="comment-review star-rating text-right">
                                        <ul>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star-half-empty"></i></li>
                                            <li><i class="fa fa-star-half-empty"></i></li>
                                        </ul>
                                    </div>
                                    
                                    <!--Boton de realizar pedidos -->

                                    <a class="btn btn-primary" asp-controller="VentasPedidos" asp-action="DetalleProducto">
                                        Enviar a carrito<span class="btn-icon-right"><i class="fa fa-shopping-cart"></i></span>
                                    </a>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--Pizza Pulled Pork-->
        </div>
    </div>
</div>

<!-- Required vendors -->
<script src="~/vendor/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
<script src="~/vendor/chart.js/Chart.bundle.min.js"></script>
<script src="~/js/custom.min.js"></script>
<script src="~/js/deznav-init.js"></script>
<!-- Apex Chart -->
<script src="~/vendor/apexchart/apexchart.js"></script>

<script src="~/vendor/highlightjs/highlight.pack.min.js"></script>
<!-- Circle progress -->
