/* Aplicar fuentes en estilos específicos */

body {
    font-family: 'Roboto', sans-serif;
    margin-bottom: 60px;
}

/* Botones sutiles */
.btn-subtle {
    background-color: transparent;
    color: #808080;
    border: none;
}

    .btn-subtle:hover {
        text-decoration: underline;
    }

/* Estilo de títulos con Playfair Display */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    color: #333;
}

/* Otros ajustes para botones */
.btn {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

html {
    position: relative;
    min-height: 100%;
}

.menu-icon {
    margin-right: 15px;
    font-size: 18px;
    vertical-align: middle;
}


/*Acerca de CSS*/

.content-body {
    padding: 20px;
}

.content-info {
    width: 65%;
    margin-right: 20px; /* Añade espacio a la derecha para evitar el choque con el logo */
}

.icon-container {
    width: 25%; /* Ajusta según el diseño deseado */
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}

.logo-img {
    width: 200px; /* Tamaño del icono */
    height: 200px;
}

.social-link {
    color: #d9534f;
    font-weight: bold;
}

    .social-link:hover {
        color: #c9302c;
        text-decoration: none;
    }

h3, h4 {
    color: #333;
}

p {
    color: #666;
    font-size: 16px;
    line-height: 1.6;
}

